@model string

@{
    ViewData["Title"] = "Demo Controller";
}

<div class="text-center">
    <h1 class="display-4">@Model</h1>
    <p>Bu sahifa DemoController ichidagi Index action orqali qaytdi.</p>
</div>
