@model Student

<div class="card h-100 shadow-sm">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text mb-1">Yosh: @Model.Age</p>
        <p class="card-text">Yo'nalish: @Model.Major</p>
    </div>
</div>
